#heding{
    color: lightseagreen;
}
#about{
    background-color: rgb(208, 211, 250);
}
#contact{
    background-color: rgb(208, 211, 250);
}
#hed1{
    color: lightseagreen;
}
#product{
    background-color: rgba(231, 226, 252, 0.767);
}
#heding2{
    color: dimgrey;
}
#heding3{
    color: darkgray;
}
#moore{
    background-color: rgba(231, 226, 252, 0.767);
}
#hed2{
    color: gray;
}